#hero {
  height: 733px;
  padding: 80px 208px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}

.hero-section {
  width: 500px;
  height: 700px;
  font-family: "Open Sans", sans-serif;
}

.post-category {
  margin: 0;
  font-size: 1em;
  font-weight: 600;
  line-height: 18px;
  color: #939395;
}

.post-title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1em;
  font-weight: 700;
  line-height: 24px;
  color: #2e2e2e;
}

.post-data {
  margin: 0;
  font-size: 1em;
  font-weight: 300;
  line-height: 18px;
  color: #939395;
}

.hero-img-slider {
  margin: 24px auto 0;
  height: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
}

.active-slider {
  width: 24px;
  height: 8px;
  background-color: #019fc4;
  border-radius: 99px;
}

.dot-slider {
  width: 8px;
  height: 8px;
  background-color: #adadae;
  border-radius: 99px;
}

.post-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.post-grid .post {
  width: 100%;
  height: 100%;
}

.post-grid .post img {
  width: 100%;
  object-fit: cover;
}

.post-grid .post-category {
  font-size: 0.5em;
  margin: 0;
}

.post-grid .post-title {
  font-size: 0.8em;
  line-height: 1.3;
  margin: 5px 0;
}

.post-grid .post-data {
  font-size: 0.5em;
}

.hero-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 30px;
  background-color: #019fc4;
}

.blue-box-header {
  width: 25%;
  background-color: #019fc4;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 0.8em;
}

.white-box-header {
  width: 75%;
  height: 90%;
  margin-top: -1px;
  margin-right: -1px;
  background-color: white;
}

.pagination-post {
  width: 5vw;
  height: 4vh;
  margin-left: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.pagination-post-item {
  width: 2vw;
  height: 4vh;
  border: 1px solid #019fc4;
  color: #019fc4;
  font-size: 0.7em;
  display: flex;
  justify-content: center;
  align-items: center;
}
