@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-transition {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.translate-x-full {
  transform: translateX(100%);
}
.translate-x-0 {
  transform: translateX(0);
}
.opacity-0 {
  opacity: 0;
}
.opacity-100 {
  opacity: 1;
}
